
<div id="dashboard-home">
  <h2>Class Materials</h2>
  <div id="dashboard-materials">
    <table class="table">
      <thead>
        <td></td>
        <td>Lecture Notes</td>
        <td>PA 1</td>
        <td>PA 2</td>
        <td>Quiz Answers</td>
      </thead>
      <tr>
        <td>Week 1</td>
        <td><%= link_to "PDF", dashboard_download_path(:file_name => "Week 1 - Lecture Notes.pdf"), :action => "download", :controller=>"dashboard"%> </td>
        <td><%= link_to "PDF", dashboard_download_path(:file_name => "PA 1.pdf"), :action => "download", :controller=>"dashboard"%></td>
        <td><%= link_to "PDF", dashboard_download_path(:file_name => "PA 2.pdf"), :action => "download", :controller=>"dashboard"%></td>
        <td>Coming soon..</td>
      </tr>
      <tr>
        <td>Week 2</td>
        <td><%= link_to "PDF", dashboard_download_path(:file_name => "Week 2 - Lecture Notes.pdf"), :action => "download", :controller=>"dashboard"%> </td>
        <td><%= link_to "PDF", dashboard_download_path(:file_name => "PA 3.pdf"), :action => "download", :controller=>"dashboard"%></td>
        <td>Coming soon..</td>
        <td>Coming soon..</td>
      </tr>
      <tr>
        <td>Week 3</td>
      </tr>
      <tr>
        <td>Week 4</td>
      </tr>
      <tr>
        <td>Week 5</td>
      </tr>
      <tr>
        <td>Week 6</td>
      </tr>
      <tr>
        <td>Week 7</td>
      </tr>
      <tr>
        <td>Week 8</td>
      </tr>
      <tr>
        <td>Week 9</td>
      </tr>
      <tr>
        <td>Week 10</td>
      </tr>
    </table>
  </div>
</div>





