<h2>Instructor View - Student Profile</h2>
<div id="dashboard-materials">
<table class="table">
  <tr>
    <td><%= @studentInfo[:student].get_name %></td>
    <td><%= @studentInfo[:student].email %></td>
    <td><%= number_to_phone(@studentInfo[:student].phone_number) %></td>
  </tr>
</table>
<h3> <%= @studentInfo[:student].get_active_course_name %> </h3>
<div>
    <span class="line"></span>
</div>
<div id="student-profile-container">
  <h3> Quizzes </h3>
  <table class="table">
    <tr>
      <th>Quiz Name</th>
      <th>Course</th>          
      <th>Score</th>
      <th>Edit</th>
      <th>Delete?</th>
    </tr>
  <% @studentInfo[:quizzes].each do |quiz|  %>
    <tr>
      <td><%=h quiz.name %></td>
      <td><%=h quiz.get_course_name %></td>          
      <td><%= quiz.score %></td>
      <td><%= link_to "Edit", edit_quiz_path(quiz) %></td>
      <td><%= link_to "X", quiz_path(quiz), :method => :delete %></td>
    </tr>
  <% end %>
    <tr>
      <% if @studentInfo[:student].get_active_course %>
        <%= form_for @quiz do |f| %>
        <%= hidden_field_tag :user_id, @studentInfo[:student].id %>
        <fieldset>
              <td><%= f.text_field :name, placeholder: "Quiz Name *", :class => "required", :autocomplete => "off" %></td>
              <td><%= f.select :course_id, options_for_select([[@studentInfo[:student].get_active_course_name, @studentInfo[:student].get_active_course.id]], @quiz.course_id) %></td>
              <td><%= f.text_field :score, placeholder: "Score *", :class => "required", :autocomplete => "off" %></td>
          </fieldset>
          <td><%= f.submit "Add Quiz", class: "submit-score-button" %></td>
        <% end %>
      <% else %>
        <td><%= "No Enrolled Courses" %></td>
      <% end %>    </tr>
  </table>   

<h3> Assignments </h3>
  <table class="table">
    <tr>
      <th>Assignment Name</th>
      <th>Course</th>          
      <th>Score</th>
      <th>Edit</th>
      <th>Delete?</th>
    </tr>
  <% @studentInfo[:assignments].each do |assignment|  %>
    <tr>
      <td><%=h assignment.name %></td>
      <td><%=h assignment.get_course_name %></td>          
      <td><%= assignment.score %></td>
      <td><%= link_to "Edit", edit_assignment_path(assignment) %></td>
      <td><%= link_to "X", assignment_path(assignment), :method => "delete" %></td>
    </tr>
  <% end %>
  <tr>
    <% if @studentInfo[:student].get_active_course %>            
      <%= form_for @assignment do |f| %>
      <%= hidden_field_tag :user_id, @studentInfo[:student].id %>
      <fieldset>
            <td><%= f.text_field :name, placeholder: "Assignment Name *", :class => "required", :autocomplete => "off" %></td>
            <td><%= f.select :course_id, options_for_select([[@studentInfo[:student].get_active_course_name, @studentInfo[:student].get_active_course.id]], @quiz.course_id) %></td>
            <td><%= f.text_field :score, placeholder: "Score *", :class => "required", :autocomplete => "off" %></td>
        </fieldset>
        <td><%= f.submit "Add Assignment", class: "submit-score-button" %></td>
      <% end %>
      <% else %>
        <td><%= "No Enrolled Courses" %></td>
      <% end %>
    </tr>
  </table>   
</div>
