
<%= form_tag '/', :method => :get, :id => "contact-form" do %>
  <div class="field span6 input-prepend">
    <span class="add-on"><i class="icon-user"></i></span>
    <%= text_field_tag :name, nil, placeholder: "Name" %>
  </div>
  <div class="field span6 input-prepend">
    <span class="add-on"><i class="icon-envelope"></i></span>
    <%= email_field(:user, nil, placeholder: "Email") %>
  </div>
  <div class="field span6 input-prepend">
    <span class="add-on"><i class="icon-comment"></i></span>
    <%= text_field_tag :subject, nil, placeholder: "Subject"  %>
  </div>
  <div class="field span6 input-prepend">
    <span class="add-on"><i class="icon-comment-alt"></i></span>
    <%= text_field_tag :message, nil, placeholder: "Message" %>
  </div>
  <div class="span6">
    <%= submit_tag "Send Message", id: "contact-form-submit" %>
  </div> 
<% end %>