<section id="contact">
  <div class="container">
    <div class="featurette">
      <h2>We know you'll have questions</h2>
      <h3>Feel free to contact us at any time.</h3>
      <div id="form-container">
        <div class="row">
          <div class="span12">
            <%= form_for @message do |f| %>
              <fieldset>
                <div class="field">
                  <label for="message_name">
                    <%= f.text_field :name, placeholder: "Name" %>
                  </label>
                </div>
                <div class="field">
                  <label for="message_email">
                    <%= f.email_field(:email, placeholder: "Email") %>
                  </label>
                </div>
                <div class="field">
                  <label for="message_subject">
                    <%= f.text_field :subject, placeholder: "Subject"  %>
                  </label>
                </div>
                <div class="field">
                  <label for="message_body">
                    <%= f.text_area :body, placeholder: "Message", rows: 10 %>
                  </label>
                </div>
              </fieldset>

              <fieldset>
                <div>
                  <%= f.submit "Send Message", id: "contact-form-submit" %>
                </div>
              </fieldset>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>