<style type="text/css">
/** we'll move this out later **/
label {
  display: inline-table;
}
</style>
<section id="contact">
  <div class="container">
    <div class="featurette">
      <h2>Contact Us</h2>
      <%= form_for @message do |f| %>
        <fieldset class="fields">
          <div class="field span6 input-prepend">
            <label for="message_name">
              <span class="add-on"><i class="icon-user"></i></span>
              <%= f.text_field :name, placeholder: "Name" %>
            </label>
          </div>
          <div class="field span6 input-prepend">
            <label for="message_email">
              <span class="add-on"><i class="icon-envelope"></i></span>
              <%= f.email_field(:email, placeholder: "Email") %>
            </label>
          </div>
          <div class="field span6 input-prepend">
            <label for="message_subject">
              <span class="add-on"><i class="icon-comment-alt"></i></span>
              <%= f.text_field :subject, placeholder: "Subject"  %>
            </label>
          </div>
          <div class="field span6 input-prepend">
            <label for="message_body">
              <span class="message add-on"><i class="icon-comments"></i></span>
              <%= f.text_area :body, placeholder: "Message" %>
            </label>
          </div>
        </fieldset>

        <fieldset class="actions">
          <div class="span6">
            <%= f.submit "Send Message", id: "contact-form-submit" %>
          </div> 
        </fieldset>
      <% end %>
    </div>
  </div>
</section>