<section id="contact">
  <div class="container">
    <div class="featurette">
      <h2>We know you'll have questions</h2>
      <h3>Feel free to contact us at any time.</h3>
      <div id="form-container">
        <div class="row">
          <div class="span6 offset3">
            <h4><i class="icon-envelope-alt icon-4x"></i></h4>
            <%= form_for @message do |f| %>
              <fieldset>
                <div class="field">
                  <%= f.text_field :name, placeholder: "Name" %>
                </div>
                <div class="field">
                  <%= f.email_field(:email, placeholder: "Email") %>
                </div>
                <div class="field">
                  <%= f.text_field :subject, placeholder: "Subject"  %>
                </div>
                <div class="field">
                  <%= f.text_area :body, placeholder: "Message", rows: 10 %>
                </div>
              </fieldset>

              <fieldset>
                <div>
                  <%= f.submit "Send Message", id: "contact-form-submit" %>
                </div>
              </fieldset>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>