<h3>Enroll Student</h3>
<h4> 
  <%= User.find_by_id(@enrollment.user_id).get_name %> 
</h4>

<%= form_for @enrollment do |f| %>
  <%= hidden_field_tag :user_id, @enrollment.user_id %>
  <fieldset>
      <td>
        <%= f.collection_select(:course_id, Course.all, :id, :name) %>
        <%= f.submit "Enroll" %>
      </td>
  </fieldset>
<% end %> 