<header>
  <div class="navbar navbar-inverse navbar-static-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="#"><%= image_tag("codegain.png") %></a>
        <% if flash[:notice] %>
          <div class="notice">
            <i class="icon-ok-sign"></i> <%= flash[:notice] %>
          </div>
        <% end %>
        <ul class="nav pull-right">
          <% if user_signed_in? %>
            <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
          <% else %>
            <li><%= link_to "Login", new_user_session_path %></li>
            <li><%= link_to "Sign Up", new_user_registration_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</header>