<!DOCTYPE html>
<html lang="en">
<head>
  <title>codegain</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  <link rel="icon" type="image/png" href="/assets/favicon.png">
</head>
<body>

<% if params[:controller] == 'devise/sessions' || params[:controller] == 'devise/registrations' %>
  <div id="main" class="backend">
    <%= render "devise/header" %>
    <section id="auth">
      <div class="container">
        <%= yield %>
      </div>
    </section>
  </div>
<% elsif params[:controller] == 'dashboard' %>
  <div id="main" class="backend">
    <%= render "devise/header" %>
    <section id="dashboard">
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="span3">
            <div class="well sidebar-nav sidebar-nav-fixed">
              <ul class="">
                <li><a href="#">Class Materials</a></li>
                <li><a href="#">Supplementary Resources</a></li>
                <li><a href="#">Analytics</a></li>
                <li><a href="#">Help + Contact</a></li>
              </ul>
            </div>
          </div>
          <div class="span9">
            <%= yield %>
          </div>
        </div>
      </div>
    </section>
  </div>
<% else %>
  <div id="main">
    <%= render "shared/header" %>
    <%= yield %>
    <%= render "shared/footer" %>
  </div>
<% end %>
</body>
</html>
